* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #D5E1EF;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: white;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    margin: auto;
}

img {
    width: 288px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 24px;
}

h1 {
    font-size: 22px;
    color: #1F314F;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}


p {
    font-size: 15px;
    font-weight: 400;
    color: #68778D;
    line-height: 140%;
    letter-spacing: 0.2px;
}

footer {
    font-size: 10px;
    background-color: #1F314F;
    color: white;
    padding: 5px;
    width: 100%;
}


a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}